.cont{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    align-items: center;
    color: #38ff40;
}

.batyr {
    width: 35%;
    height: auto;
    image-rendering: pixelated;
}

.label {
    margin-top: 10px;
    font-size: 50px;
    max-width: 400px;
    text-align: center;
}

