.gendersCont {
    display: flex;
    justify-content: space-between;
    height: 100%;
    gap: 30px;
}


.genderCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.genderImg {
    width:  140px;
    height: auto;
    image-rendering: pixelated;
}