input {
    outline: none;
    background-color: transparent;
    border: 3px solid var(--fg_color);
    color: var(--fg_color);

    border-radius: 15px;

    font-size: 20px;
    padding: 10px 10px 10px 10px;

    width: 100%;

    box-sizing: border-box;


}
