
.roadmap_block{
    display: inline-block;
}

.main{
    position: absolute;
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 17px;
    align-items: center;
}


.inp_wrapper{
    top: 50%;
    margin-top: 20px;
    height: 67px;
    width: 761px;
    outline: none;
    border: 3px solid var(--fg_color);;
    border-radius: 25px;

    font-weight: 700;
    font-size: 25px;

    
}

.enter_input{
    font-family: Blazma;
    height: 67px;
    margin-left: 48px;
    width: calc(100% - 48px);
    outline: none;
    border: none;
    border-radius: 25px;
    color: var(--fg_color);
    background-color: var(--bg_color);
    font-weight: 700;
    font-size: 25px;
    
}

.enter_input::placeholder{
    font-family: Blazma;
    font-weight: 700;
    font-size: 25px;
    color: var(--sub_fg_color);
}
