h2 {
    color: var(--fg_color);
}

form {
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 400px;
}

h2 {
    font-size: 30px;
}

.cont {
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 60px;
    color: var(--fg_color);
}

h2 {
    margin-top: 52px;
}